body{
    font: 400 16px 'Lato', sans-serif;
    color: #000;
    line-height: 1.5;
}
h1 {
    font-size: 36px;
    font-weight: 700;
    color: #fff; 
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    z-index: 100;
}
h2 {
    font-size: 24px;
    font-weight: 900;
    color: #B7170E;
    text-transform: uppercase;
}
h3 {
    font-size: 16px;
    font-weight: 700;
    color: #B7170E;
}
h4 {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}
a, a:visited{
    text-decoration: none;
    color: #000;
}
header {
    display: flex;
    width: 80%;
    margin:0 auto;
    font-weight: 700;
}
li {
    display: inline-block;
 }
.right-nav {
    margin-left:auto;  
    padding-top: 32px;
}
.right-nav li {
   margin-left: 100px;
}
.left-nav {
    margin-right:auto;
    padding-top: 32px; 
}
.left-nav li {
   padding-right: 120px;
}
nav a:hover {
    color: #B7170E;
    border-bottom: solid 2px #B7170E;
}
.logo-container img {
    width: 132px;
    height: 64px;
}
.logo-container:hover {
    border: none;
}
.search {
    width: 17px;
    height: 15px;
}
#search-box {
    position: absolute;
    top: 60px;
    right: 120px;
    display: none;
    z-index: 100;
    width: 350px;
    height: 40px;
    opacity: 0.8;
    border: solid 0.1px rgba(0, 0, 0, 0.2)
}
input::placeholder {
    color: #B7170E;
    font-size: 16px;
  }
.hero-banner {
    background-image: url("../img/skyjaborgir1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 64px);
    position: relative;  
}
.hero-text {
    position: absolute;
    left: 15%;
    top: 50%
}
.hero-banner h1 {
    font-size: 48px;
    margin-bottom: 8px;
}
.hero-banner h3 {
    font-style: italic;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    text-transform: none;
    margin-bottom: 48px;
}
.large-button {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    background-color: #B7170E;
    width: 160px;
    height: 40px;
    border: none;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.cards {
    width:80%;
    margin: 0 auto;
}
.card {
    width: 320px;
    margin: 4px;
    position: relative;
}
.card:hover h1 {
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}
.ghost-box {
    position:absolute;
    top: 0;
    width: 320px;
    height: 100%;
    background-color:#fff;
    opacity: 0;
    transition: all .5s ease;
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
  }
.ghost-box:hover {
    opacity:0.7;
}
/*.ghost-text {
    height: 40%;
    position: absolute;
    top: 150px;
    left: 55px;
}*/
/*þetta virkar í inspect ekki í alvöru why!!!"#"$"#$"!!*/
.ghost-box h3 {
    border-bottom: solid 2px;
    display: inline;
}
.small-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #B7170E;
    width: 130px;
    height: 32px;
    border: none;
    z-index: 2;
}
.small-button a:hover {
    background-color: #fff;
    color: #B7170E;
    border: solid 2px #B7170E;
}
.small-button-cal{
    background-color: #B7170E;
    width: 130px;
    height: 32px;
    border: none;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.small-button a{
    font-size: 12px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 100%;
    vertical-align: bottom;
}
.card-title {
    position: absolute;
    text-align: center;
    bottom: 32px;
    width: 100%;
}
.xl-button{
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #B7170E;
    background-color: #fff;
    width: 240px;
    height: 48px;
    border: 2px solid #B7170E;
    display: block;
    margin-bottom: 16px;
}
.fyrirsogn {
    width: 75%;
    margin:0 auto;
    padding: 96px 0  40px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin:0 auto;
    padding-top: 40px;
}
.barinn {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
}
.barinn img {
    width: 50%;
    height: 50%;  
}
.bar-text-wrapper {
    width:50%;
}
.bar-text {
    width:80%;
    margin: 8% auto;
    text-align: center;
}
footer {
    height: 256px;
    display: flex;
    flex-wrap: wrap;
    background-color: #B7170E;
    align-items: center;
    margin-top: 120px;
}
.footer-div {
    width: 33.333333%;
    min-width: 300px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.footer-div img {
    margin: 8px 4px;
}
.stok-syning {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}
.top-text {
    width: 80%;
    margin: 64px auto 32px;
}
.text-box {
    width: 66%;
}
.side-bar {
    width: 17%;
}
.calendar{
    width: 80%;
    margin: 120px auto; 
}
table {
    width: 85%;
    margin: 32px auto 0;  
}
td {
    padding: 24px 0 24px;
    border-bottom: solid #B7170E 0.5px;
}
td h2:hover {
    display: inline;
    border-bottom: solid 2px #B7170E;
}

select {
    -webkit-appearance: none;
    font-size: 24px;
    font-weight: 700;
    border: none;
}
option:hover {
    color: #B7170E;
}
/* media queries*/

@media only screen and (max-width: 600px) {
    .right-nav, .left-nav {
        display: none;
    }
    .cards {
        width:100%;
    }
    .card{
        width:184px;
        heigth: 248px;
    }
    .ghost-box {
        width: 184px;
    }
    .barinn img {
        width: 100%;
        height: 100%;  
    }
    .bar-text-wrapper {
        width:100%;
    }
    .footer-div {
        width: 100%;
    }
  }