body{
    font: 400 16px 'Lato', sans-serif;
    color: #000;
    line-height: 1.5;
}
h1 {
    font-size: 36px;
    font-weight: 700;
    color: #fff; 
    text-transform: uppercase;
}
h2{
    font-size: 24px;
    font-weight: 900;
    color: #B7170E;
    text-transform: uppercase;
}
h3 {
    font-size: 16px;
    font-weight: 700;
    color: #B7170E;
}
header {
    display: flex;
    width: 80%;
    margin:0 auto;
    font-weight: 700;
}
 li {
     display: inline-block;
 }
.right-nav {
    margin-left:auto;  
    padding-top: 32px;
}
.right-nav li {
   margin-left: 100px;
}
.left-nav {
    margin-right:auto;
    padding-top: 32px; 
}
.left-nav li {
   padding-right: 120px;
}
.logo-container img {
    width: 132px;
    height: 64px;
}
.search {
    width: 17px;
    height: 15px;
}
.hero-banner {
    background-image: url("../img/skyjaborgir1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 64px);
    position: relative;  
}
.hero-text {
    position: absolute;
    left: 15%;
    top: 50%
}
.hero-banner h1 {
    font-size: 48px;
    margin-bottom: 8px;
}
.hero-banner h3 {
    font-style: italic;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    text-transform: none;
    margin-bottom: 48px;
}
.large-button {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    background-color: #B7170E;
    width: 160px;
    height: 40px;
    border: none;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.cards {
    width:80%;
    margin: 0 auto;
}
.card {
    width: 320px;
    margin: 4px;
    position: relative;
}
.small-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #B7170E;
    width: 130px;
    height: 32px;
    border: none;
}
.small-button a{
    font-size: 12px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin: 0 auto;
}
.card-title {
    position: absolute;
    text-align: center;
    bottom: 32px;
    width: 100%;
}
.xl-button{
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #B7170E;
    background-color: #fff;
    width: 382px;
    height: 48px;
    border: 2px solid #B7170E;
}
.fyrirsogn {
    width: 75%;
    margin:0 auto;
    padding: 96px 0  40px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin:0 auto;
    padding: 40px 0  96px;
}
.barinn {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.barinn img {
    width: 50%;
    height: 50%;  
}
.bar-text-wrapper {
    width:50%;
}
.bar-text {
    width:80%;
    margin: 8% auto;
    text-align: center;
}
footer {
    height: 256px;
    display: flex;
    flex-wrap: wrap;
    background-color: #B7170E;
    align-items: center;
}
.footer-div {
    width: 33.333333%;
    min-width: 300px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}
.footer-div img {
    margin: 8px 4px;
}
.stok-syning {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between

}
.text-box {
    width: 66%;
}
.side-bar {
    width: 17%;
}


